.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000000000000000000000000;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview {
    height: 100vh;
    margin: 0 auto;
    width: max-content;
}

.hidden {
    animation: fadeOut 400ms forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}