.trackerInfo {
    display: flex;
    align-items: center;

    .waterIcon {
        display: flex;
        align-items: center;
        margin-right: 8px;
    }

    .waterVolume {
        display: flex;

        .volume {
            color: #6d9ddc;
            font-size: 16px;
            letter-spacing: -0.32px;
        }
    }
}

.input {
    font-size: 16px;
    border: none; /* Убираем границы */
    background-color: transparent; /* Прозрачный фон */
    width: 50px;
    text-align: right;
    color: #6d9ddc;

    &:focus {
        outline: none;
    }

    &::-webkit-contacts-auto-fill-button {
        opacity: 0;
    }

    &::-webkit-inner-spin-button {
        opacity: 0;
    }

    &::-webkit-outer-spin-button {
        opacity: 0;
    }

    &::-webkit-clear-button {
        opacity: 0;
    }

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::-webkit-datetime-edit-ampm-field {
        opacity: 0;
    }
}

input:focus::-webkit-contacts-auto-fill-button {
    opacity: 0;
}
